:root {
	--color--1: #fffb00;
	--color--2: #91a6ab;
	--color--3: #e8edee;
	--color--4: #2b2d2f;
	--color--5: rgba(43, 45, 47, 0.7);
	--color--6: rgba(43, 45, 47, 0.3);

	/* Body */
	--body--color: var(--color--4);
	--body--background-color: var(--color--1);

	/* Menu */
	--menu--logo--color: var(--color--4);
	--menu--logo--height: max(60px, 2.1875vw + 2rem);
	--menu--links--color: var(--color--4);
	--menu--border-color: var(--color--6);
	--menu--padding: calc(var(--spacing--1) * 0.5);

	/* Splash */
	--splash--color: var(--color--4);
	--splash--text--color: var(--color--4);
	--splash--background-color: var(--color--1);

	/* Services */
	--services--background-color: var(--color--3);
	--services--bullet-color: var(--color--2);
	--services--border-color: var(--color--6);

	/* Why Us */
	--why--background-color: var(--color--1);
	--why--color: var(--color--4);
	--why--border-color: var(--color--6);

	/* Footer */
	--footer--background-color: var(--color--2);
	--footer--sm-color: var(--color--5);
	--footer--sm-color--hover: var(--color--4);
	--footer--copy-color: var(--color--5);
}
