---
import Logo from "./Logo.astro";

const MENU = [
	{
		label: "Oferta",
		link: "#oferta",
	},
	{
		label: "Dlaczego my?",
		link: "#dlaczego-my",
	},
	{
		label: "Kontakt",
		link: "#kontakt",
	},
];

const { theme } = Astro.props;
---

<nav>
	<a href="#">
		<Logo type={theme} />
	</a>
	<ul>
		{
			MENU.map(({ label, link }) => (
				<li>
					<a href={link}>{label}</a>
				</li>
			))
		}
	</ul>
</nav>

<style>
	nav {
		padding: var(--spacing--1) var(--spacing--3);
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--color--1);
		border-bottom: 1px solid var(--menu--border-color);
		position: sticky;
		top: 0;
	}

	ul {
		list-style: none;
		display: flex;
		gap: var(--spacing--3);
	}

	a {
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.03em;
		font-size: var(--font-size--8);
		color: var(--menu--links--color);
	}

	nav :global(svg) {
		color: var(--menu--logo--color);
	}
</style>
