---
import Icon, { IconName } from "./Icon.astro";

interface Props {
	title: string;
	text: string[];
}

const { title, text }: Props = Astro.props;
const SPLASH_CTA = "Sprawdź naszą ofertę";
---

<section>
	<h1>{title}</h1>
	{text.map((text) => <p>{text}</p>)}
	<a href="#">
		<Icon icon={IconName.ArrowDown} />
		{SPLASH_CTA}
	</a>
</section>
